img{
    max-height: 100vh;
}
body{
    background-color: rgb(23, 22, 22);
}
.card-img{
    max-height: 220px;
    object-fit: cover;
}
.card{
    background-color: rgb(250, 69, 69);
    height: 100%;
}
.nav-titulo{
    font-size: 150%;
}
.img-infarto{
    height:7vh; 
    width:7vh
}
p,h1 {
    color: black;
}
.texto-carousel{
    color: white;
}
.tarjeta-vegana{
    background-image: url("../img/tarjeta-vegetariana.avif");
}
.tarjeta-vinos{
    background-image: url("../img/vinos-card.jpg");
    background-position: top;
} 
.row{
    margin: 0;
}